.roles-holder{
    width: 200px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: white;
}
.roles-list{
    width: 200px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: white;
}
.roles-list-item:hover{
    background-color: grey;
    color: white;
}
.roles-list-item-selected{
    background-color: rgb(247, 164, 68);
    color: white;
}
.roles-list-item-selected:hover{
    background-color: rgb(247, 164, 68);
    color: white;
}
.permissions-groups{
    width: 20%;
}
.permissions-group{
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
}
.permissions-group:hover{
    padding: 5px 10px;
    background-color: rgb(255, 146, 73);
    color: #fff;
    border-radius: 5px;
}
.permissions-group-selected{
    padding: 5px 10px;
    background-color: rgb(255, 146, 73);
    color: #fff;
    border-radius: 5px;
    cursor: default;
}
.permissions{
    width: 80%;
}
.permission{
    background-color: white;
    border: solid 1px grey;
}
.permissions-title{
    background-color: #29283a;
}
.slider{
    width: 60px;
    height: 30px;
    border-radius: 20px;
    border: solid 1px grey;
}
.slider-ball{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: solid 1px grey;
    background-color: white;
}
.rotate{
    transform: rotate(90deg);
}
