.roles-holder{
    width: 200px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: white;
}
.roles-list{
    width: 200px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: white;
}
.permissions-groups{
    width: 20%;
}
.permissions-group{
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
}
.permissions-group:hover{
    padding: 5px 10px;
    background-color: rgb(255, 146, 73);
    color: #fff;
    border-radius: 5px;
}
.permissions{
    height: 300px;
    width: 80%;
    background-color: white;
}
.permissions-title{
    background-color: #29283a;
}