.Dashboard{
    width: 100vw
}
.side-menu{
    width: 200px;
    height: calc(100vh - 100px);
    background-color: #29273b;
}
.side-menu-item{
    color:#ffffff;
}
.side-menu-item:hover{
    background-color:#171623;
}
.side-menu-item-selected{
    background-color:#171623;
}
.dashboard-content{
    background-color: rgb(201, 207, 215);
    height: calc(100vh - 100px);
    width: calc(100vw - 200px);
}
.dashboard-content-container{
    padding: 20px;
}